
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


@import "tailwindcss";


.cursive-text {
  font-family: 'Dancing Script', cursive;
}


body {
  font-family: var(--font-exo);
}


@keyframes blink-bg {
  0%, 100% {
    background-color: #f87171; /* Tailwind red-400 */
  }
  50% {
    background-color: transparent;
  }
}

.blink-bg {
  animation: blink-bg 1s infinite;
}


