@import "tailwindcss";

@keyframes blink-bg {
  0%, 100% {
    background-color: #f87171; /* Tailwind red-400 */
  }
  50% {
    background-color: transparent;
  }
}

.blink-bg {
  animation: blink-bg 1s infinite;
}


